<div class="contact-container">
    <div class="contact-section">
        <div class="text-container">
            <p>
                Hi, If you you're interested in my works or just want to chat feel free to contact me by mail or LinkedIn.
            </p>
            <p>
                I'm currently looking for a Software Engineering job in Zurich
            </p>
            <p>
                <i class="far fa-envelope"></i> Mail : mail.com
            </p>
            <p>
                <a target="_blank" href="https://www.linkedin.com/">
                    <i class="fab fa-linkedin"></i> LinkedIn</a>
            </p>
        </div>
    </div>
</div>