<div class="contact-container">
    <div class="contact-section">
        <div class="text-container">
            <p>
                Hi, if you you're interested in my works or just want to chat feel free to contact me by mail or LinkedIn.
            </p>
            <p>
                I'm currently looking for a Software Engineering job in Zurich
            </p>
            <p *ngIf="profile.mail !== ''">
                <i class="far fa-envelope"></i> Mail : {{profile.mail}}
            </p>
            <p *ngIf="profile.linkedinLink !== ''">
                <a target="_blank" href="{{profile.linkedinLink}}">
                    <i class="fab fa-linkedin"></i> LinkedIn</a>
            </p>
        </div>
    </div>
</div>